<section class="skills">
<div class="container">
    
    <div class="contact-me" [ngStyle]="{'padding': '3em'}">
    <h2>CONTÁCTAME</h2>
</div>
    <div class="container-contact">
    <div class="contact-div">
    <a href="http://github.com/Relun" target="blank"> <i class="fab fa-github-square"></i> </a>
    <p>GitHub</p>
    </div> 

    <div class="contact-div">
    <a href="http://www.linkedin.com/in/claudia-araya/" target="blank"> <i class="fab fa-linkedin"></i> </a>
    <p>LinkedIn</p>
    </div> 
    </div> 


    <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 mt-3" data-aos="fade-down" data-aos-duration="1000">
                    <div class="text-justify">
                        <div>
                        <p class="my-email m-3">Envíame un correo a <span class="phone">claudia.araya.ro@gmail.com</span></p>
                        </div>
                        <p class="contact-text m-3"> O me puedes llamar al <span class="phone">+56 9 53966352</span></p>
                        <div>
                        <a href="./assets/img/CV-Claudia-Araya-FrontEnd.pdf" download="CV-Claudia-Araya-FrontEnd"><span class="phone">Descargar CV</span></a>
                        </div>
                </div>
            </div>
        </div>
</div>
</section>



    
    