<section class="skills">
<div class="container">
    <h1>Contáctame</h1>
    
    <div class="container-contact">

    <div class="contact-div">
    <a href="" target="blank"> <i class="fas fa-at"></i> </a>
    <p>Email</p>
    </div> 

    <div class="contact-div">
    <a href="http://github.com/Relun" target="blank"> <i class="fab fa-github-square"></i> </a>
    <p>GitHub</p>
    </div> 

    <div class="contact-div">
    <a href="http://www.linkedin.com/in/claudia-araya/" target="blank"> <i class="fab fa-linkedin"></i> </a>
    <p>LinkedIn</p>
    </div> 
    </div> 
    <!-- <i class="fab fa-linkedin"></i>
    <i class="fab fa-github-square"></i> -->

</div>
</section>


    
    