@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container{
    padding: 2em;
}

.container-contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
    flex-flow: wrap;
    justify-content: left;
    margin-left: 3em;
}


.contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
    width: 6em;
    /* padding-left: 10em; */
    /*obj-fit:acomoda las imagenes y quedan todas del mismo tamaño sin pixelar */
    object-fit: cover; 
}

.fab, .fas{
   
    color:black;
    font-size: 4em;
}

.contact-phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2em;
    width: 40em;
    /* padding-left: 10em; */
    /*obj-fit:acomoda las imagenes y quedan todas del mismo tamaño sin pixelar */
    object-fit: cover; 
}
p, a{
font-weight: bold;
}

.phone{
    color:rgb(216, 40, 69);
}

