.fab{
   
    color:black;
    font-size: 4em;
}

.container{
    padding: 4em;
}

.container-skill{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-flow: wrap;
}

.skill-js, .skill-html, .skill-css, .skill-bootstrap, .skill-angular, .skill-git, .skill-github{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
    width: 6em;
}


