
<section class="me">
<div class="container">
<h3>SOBRE MÍ</h3>
<p>Front End Developer con experiencia en diversos proyectos web. Me encanta resolver problemas, sobre todo aquellos que solucionan temas sociales o ambientales. De actitud positiva y motivadora, me adapto fácilmente a los equipos de trabajo. Decidí reinventarme como Ingeniero Agrónomo y crear soluciones innovadoras en el área tecnológica</p>

</div>
</section>

<section class="skills">
<div class="container">

    <div class="skills-tittle">
<h3>HABILIDADES</h3>
   </div>

<div class="container-skill">
<div class="skill-js">
<i class="fab fa-js-square"></i>
<p>JavaScript</p>
</div>

<div class="skill-html">
<i class="fab fa-html5"></i>
<p>HTML5</p>
</div>

<div class="skill-css">
<i class="fab fa-css3-alt"></i>
<p>CSS3</p>
</div>

<div class="skill-bootstrap">
<i class="fab fa-bootstrap"></i>
<p>Bootstrap</p>
</div>

<div class="skill-angular">
<i class="fab fa-angular"></i>
<p>Angular</p>
</div>

<div class="skill-git">
<i class="fab fa-git-alt"></i>
<p>Git</p>
</div>

<div class="skill-github">
<i class="fab fa-github"></i>
<p>GitHub</p>
</div>
</div>
</div>

</section>

