
<section class="me">
<div class="container">
<h3>SOBRE MÍ</h3>
<p>Front-end developer con experiencia en diversos proyectos web. Me gusta la resolución de problemas y el trabajo en equipo. Siempre en búsqueda de conocimiento gracias a mi capacidad de autoaprendizaje.</p>

</div>
</section>

<section class="skills">
<div class="container">
<h3>HABILIDADES</h3>

<i class="fab fa-js-square"></i>
<i class="fab fa-html5"></i>
<i class="fab fa-css3-alt"></i>
<i class="fab fa-bootstrap"></i>
<i class="fab fa-angular"></i>
<i class="fab fa-git-alt"></i>
<i class="fab fa-github"></i>
<!-- <img class="img-skills" src=".\assets\img\html-black.jpg" alt="HTML">
<img class="img-skills" src=".\assets\img\css-black-icon.png" alt="">
<img class="img-skills" src=".\assets\img\js-black.png" alt="">
<img class="img-skills" src=".\assets\img\bootstrap-black.png" alt="">
<img class="img-skills" src=".\assets\img\angular_solidBlack.png" alt="">
<img class="img-skills" src=".\assets\img\git-black.png" alt="">
<img class="img-skills" src=".\assets\img\GitHub-Mark.png" alt="">
<i class="fab fa-bootstrap"></i>
<i class="fab fa-bootstrap"></i> -->

</div>
</section>

