@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');


/* .body{
  background-color: black !important;
} */



.hello-world{
  color:rgb(216, 40, 69);
  font-size: 2em;
  text-align: center;
}
/* Animation */
.claudia {
    animation: claudia 10s;
  }
  .araya {
    animation: araya 10s;
  }

  /* Keyframes */
  @keyframes claudia {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }

  .font-home{
  font-family: 'Playball', cursive;
   font-size: 3em;
   text-align: center;
   color: white;
  }

  .font-homes{
    font-family: 'Playball', cursive;
     font-size: 2em;
     text-align: center;
     /* margin-left: 1em; */
    }

  @keyframes araya {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(0.5em);
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
   
  /* Make the 3D work on the container */
  .claudia-div {
    
    perspective: 800px;
    transform-style: preserve3d;
  }
 
  .claudia-div {
    /* text-align: center; */
    height: 10em;
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 36em;
  }

  .claudia {
    /* top: -0.75em; */
    top: -2em;
  }
  
  .araya {
    /* bottom: -0.5em; */
    bottom: -2em;
  }

  /* Media queries*/
  
  @media only screen and (max-width: 600px) {
    .claudia-div {
      font-size: 10px;
    }

    /* .container{
      font-size: 10px;
    } */
  }
  
  @media only screen and (max-width: 480px) {
    .claudia-div {
      font-size: 7px;
    }

    /* .container{
      font-size: 7px;
    } */
  }