@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo|Noto+Serif&display=swap');
/* .body{
  background-color: black !important;
} */



.hello-world{
  font-family: 'Courgette', cursive;
  color:rgb(216, 40, 69);
  font-size: 2em;
  text-align: center;
}
/* Animation */
.claudia {
    animation: claudia 10s;
  }
  .araya {
    animation: araya 10s;
  }

  /* Keyframes */
  @keyframes claudia {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }

  .font-home{
    font-family: 'Noto Serif', serif;
   font-size: 3em;
   text-align: center;
   color: white;
  }

  .font-homes{
    font-family: 'Noto Serif', serif;
     font-size: 2em;
     text-align: center;
     color:white;
     /* margin-left: 1em; */
    }

  @keyframes araya {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(0.5em);
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
   
  /* Make the 3D work on the container */
  /* .claudia-div {
    
    perspective: 800px;
    transform-style: preserve3d;
  } */
 
  .claudia-div {
    /* text-align: center; */
    height: 8em;
    left: 49%;
    position: absolute;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 31em;
  }

  .claudia {
    /* top: -0.75em; */
    top: -2em;
  }
  
  .araya {
    /* bottom: -0.5em; */
    bottom: -2em;
  }

  /* Media queries*/
  
  @media only screen and (max-width: 600px) {
    .claudia-div {
      font-size: 9px;
    }

    .hello-world{

      font-size: 1em;
    }
    /* .justify-content-center{
      width: 1em;
      height: 1em;
    } */
  }
  
  @media only screen and (max-width: 480px) {
    .claudia-div {
      font-size: 6px;
    }

    .hello-world{

      font-size: 1em;

    }
    /* .justify-content-center{
      width: 1em;
      height: 1em;
    } */
  }