
<div class="background" [ngStyle]="{'background-color': 'black'}">

<div class="container"  style="padding: 4em">
        <div class="text-center">
            <!-- <div class="justify-content-center"> -->
                <p class="hello-world">Hola Mundo</p>
                <!-- <a class="btn btn-outline-secondary" routerLink="/projects" routerLinkActive="active">HOLA MUNDO</a> -->
            <!-- </div> -->
         </div>
    </div>

<article class="row" id="hello">
    <div class="claudia-div">
        <!-- <p>Hola Mundo</p> -->
        <h1 alt="Claudia" class="claudia font-home"> SOY CLAUDIA ARAYA </h1>
        <h2 alt="Araya" class="araya font-homes">FRONT-END DEVELOPER</h2>
        <!-- <img src="./assets/img/giphy.gif" alt="" srcset=""> -->
    </div>   
</article>

<div class="container" style="padding: 15em">
    <div class="text-center">
        <div class="justify-content-center">
            <a class="btn btn-outline-secondary" routerLink="/projects" routerLinkActive="active">VER MIS PROYECTOS</a>
        </div>
     </div>
</div>

</div>