<div class="container">
<div class="card-deck">
    <div class="card">
      <img src=".\assets\img\fenpof.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FENPOF</h5>
        <p class="card-text">Sitio web creado para la Federación de Enfermedades poco frecuentes Chile, con el objetivo de entregar información y trabajo colaborativo entre las organizacion que la componen. Creada en Angular y Firebase.</p>
        <a href="#" class="btn btn-primary">Demo</a>
        
        <a href="https://github.com/Relun/SCL009-Fenpof-Chile" target="blank" class="btn btn-primary">GitHub</a>
      </div>
    </div>
    <div class="card">
      <img src=".\assets\img\burger-queen.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger Queen</h5>
        <p class="card-text">Interfaz que permite a los trabajadores de una cadena de comida tomar los pedidos de los clientes y llevar su registro. Para su implementación, se usó la Angular y Firebase.</p>
        <a href="#" class="btn btn-primary">Demo</a>
        <a href="https://github.com/Relun/SCL009-Burger-Queen/tree/develop" target="blank" class="btn btn-primary">GitHub</a>
      </div>
    </div>
    <div class="card">
      <img src=".\assets\img\data-lover.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Data Lovers</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci fugiat doloribus omnis exercitationem alias, similique accusantium doloremque. Earum, reprehenderit omnis doloremque at consectetur laboriosam nulla, nisi libero atque blanditiis voluptate?</p>
        <a href="#" class="btn btn-primary">Demo</a>
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>
</div>