<div class="container">
<div class="card-deck">
    <div class="card">
      <img src=".\assets\img\fenpof.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FENPOF</h5>
        <p class="card-text">Página web creada para la Federación de Enfermedades poco frecuentes Chile, con el objetivo de entregar información y trabajo colaborativo entre las organizacion que la componen. Creada en Angular y Firebase.</p>
        <a href="#" class="btn btn-primary">Demo</a>
        
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
    <div class="card">
      <img src=".\assets\img\burger-queen.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger Queen</h5>
        <p class="card-text">Interfaz que permite a los trabajadores de una cadena de comida tomar los pedidos de los clientes y llevar su registro. Para su implementación, se usó la Angular y Firebase.</p>
        <a href="#" class="btn btn-primary">Demo</a>
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
    <div class="card">
      <img src=".\assets\img\data-lover.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Data Lovers</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="#" class="btn btn-primary">Demo</a>
        <a href="#" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>
</div>