<div class="background" style="height: 100%; width:100%;" [ngStyle]="{'background-color': 'black'}">

  <div class="container">
<div class="card-deck">
    <div class="card">
      <img src=".\assets\img\fenpof.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FENPOF</h5>
        <p class="card-text">Sitio web creado para la Federación de Enfermedades poco frecuentes Chile, con el objetivo de entregar información y trabajo colaborativo entre las organizacion que la componen. Creada en Angular y Firebase.</p>
        <a href="https://fenfop-chile-c0ea2.firebaseapp.com/" target="blank" class="btn btn-dark">Demo</a>
        
        <a href="https://github.com/Relun/SCL009-Fenpof-Chile" target="blank" class="btn btn-dark">GitHub</a>
      </div>
    </div>
    <div class="card">
      <img src=".\assets\img\burger-queen.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger Queen</h5>
        <p class="card-text">Interfaz que permite a los trabajadores de una cadena de comida tomar los pedidos de los clientes y llevar su registro. Para su implementación, se usó la Angular y Firebase.</p>
        <a href="https://burger-queen-ab979.firebaseapp.com/" target="blank" class="btn btn-dark">Demo</a>
        <a href="https://github.com/Relun/SCL009-Burger-Queen/tree/develop" target="blank" class="btn btn-dark">GitHub</a>
      </div>
    </div>
    <div class="card">
      <img src=".\assets\img\pinterest.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Copia de Pinterest</h5>
        <p class="card-text">Copia de la famosa red social Pinterest. Desarrollada en Angular y Bootstrap.</p>
        <a href="https://pinterest-e0447.firebaseapp.com/" target="blank" class="btn btn-dark">Demo</a>
        <a href="https://github.com/Relun/Pinterest-Angular" target="blank" class="btn btn-dark">GitHub</a>
      </div>
    </div>
  </div>
</div>
</div>